*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #daac00;
    padding: 13px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 25px;
    color: white;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.navbar-pading{
    padding-left: 50px;
    padding-right: 50px;
}
/* ------------------------------------------------ sec 1------------------ */
.sec-1{
    background-color: #fcc302;
    color: white;
}
.section-colour{
    background-color: #fcc302;
    color: white;
}
.col-60{
    width: 60%;
}
.col-50{
    width: 50%;
}
.col-40{
    width: 40%;
}
.sec-1 h1{
    font-size: 50px;
    width: 50%;
    padding: 10px 0 ;
}
.sec-1 p{
    font-size: 20px;
    width: 50%;
    padding: 10px 0 ;
}
.sec-1-button1{
    padding: 5px 10px ;
    background-color: skyblue;
    border: none;
    color: white;
}
.sec-1-button2{
  padding: 5px 10px ;
    background-color: #fcc302;
    border: 1px solid white;
    color: white;
} 
/* ----------------------------------------------sec2------------------------ */
.pos-rel{
    position: relative;
}
.pos-ab{
    position:absolute;
}
.sec-2-p2{
    background-image: url(../image/sec-2-p2image.png);
    background-color: #fcc20274;
    height: 400px;
    width: 400px;
}