*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
.alc{
    align-items: center;
}
.tac{
    text-align: center;
}
.jsc{
    justify-content: space-between;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
header{
    background-color: #daac00;
    color: white;
    padding: 10px;
}

header li{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
.sec-1{
    background-color: #fcc302;
    color: white;
}
.sec-1 h1{
    font-size: 50px;
    width: 60%;
    padding-bottom: 20px;
}
.sec-1 p{
    padding-bottom: 25px;
    font-size: 25px;
    width: 55%;
}
.sec-1 button{
    padding: 7px 10px;
    margin-right: 10px;
}
.sec-1-b1{
    background-color: #00bec9;
    color: white;
    border: solid 1px #00bec9;
    
}
.sec-1-b2{
    background-color: #fcc302;
    color: white;
    border: solid 1px white;
}