*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.nev-bar{
    background-color: #ffece1af;
    color:#649483;
    align-items: center;
    justify-content: space-around;
}
.nev-bar button{
    color: #ffece1;
    background-color:#649483;
    padding: 2px 7px;
    /* margin-bottom: 15px; */
}
li{
    display: inline-block;
}
.containor{
    width: 1400px;
    margin: 0 auto;
}
/* --------------------------------------------------------------------sec1--------------------------------------------------------------- */
.sec-one{
    background-color: #ffece1;
}
.col-50{
    width: 50%;
}
.s1-p1{
    color: #649483;
    text-align: center;
}
.s1-p1 img{
    width: 70%;
}