* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(210, 0, 0); */
}
header {
  padding: 20px;
  /* background-color: rgba(110, 200, 113, 0); */
}
.row {
  display: flex;
}
nav ul {
  list-style: none;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  /* margin-left: 13px; */
  font-size: 25px;
}
.jsc {
  justify-content: space-between;
}
.alc {
  align-items: center;
}
.search-img {
  padding-left: 25px;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
/* -----------------------------------------------sec 1----------------------------- */
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.sec-1-p1 {
  background-image: url(./Images/sec-1-fooditeams-image.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.sec-1-p2 {
  background-color: gray;
}
/* -----------------------------------------------sec 2----------------------------- */
.sec-2 {
    background-color: white;
}
.sec-2 h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-top: 70px;
}
#sec-2-heading-p {
    width: 55%;
    font-size: 25px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: center;
}
.col-33 {
    width: 33%;
    margin: 0 auto;
    justify-content: space-between;
}
.sec-2-parts {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 35px;
}
.sec-2-parts h5 {
    font-size: 30px;
    margin: 0 auto;
}
.sec-2-parts p {
    margin: 0 auto;
    font-size: 15px;
    width: 50%;
    margin-bottom: 30px;
}

/* -----------------------------------------------sec 3----------------------------- */
.sec-3{
  overflow: hidden;
}
.col-50{
  width: 50%;
}
.sec-3-part-1{
  padding-top: 100px;
  text-align: center;
}
.sec-3-part-2{
  padding-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.sec-3-part-2 h2{
  font-size: 50px;
  color: #ffc200;
  padding: 50px 0 20px 0;
}
.sec-3-part-2 p{
  padding: 20px 0 50px 0;
  color: black;
  font-size: 25px;
  width: 65%;
  margin: 0 auto;
}
.sec-3-part-2 button{
  background-color: #ffc200;
  border: none;
  padding: 12px 45px;
  font-size: 15px;
  border-radius: 5px;
}
.po-ab{
  position: absolute;
}
.po-rel{
  position: relative;
}
.sec-three-po{
  left: -200px;
}
/* .sec-three-po img{
  width: ;

} */
/* -----------------------------------------------sec 4----------------------------- */
.sec-4{
  background-color: #303030;
  color: white;
}
.sec-4-headpart{
  text-align: center;
}
.sec-4-headpart h2{
    padding: 40px 20px;
    font-size: 50px;
    color: #ffc200;
}
.sec-4-headpart p{
    width: 55%;
    font-size: 25px;
    padding: 0 0 50px 0;
    margin: 0 auto;
  }
.col-25{
  width: 20%;
  margin: 0 auto;
}
.sec-4-column{
  border: 2px solid white;
  text-align: center;
  padding: 90px;
  border-radius: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
.sec-4-column h4{
      font-size: 45px;
      text-align: center;
      color: #ffc200;
    }
    .sec-4-column p{
  font-size: 30px;
  text-align: center;
}
  /* -----------------------------------------------sec 5----------------------------- */
  .sec-5{
  overflow: hidden;
}
.sec-5-part-1{
  padding-bottom: 100px;
  text-align: center;
}
.sec-5-part-2{
  padding-bottom: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.sec-5-part-2 h2{
  font-size: 50px;
  color: #ffc200;
  padding: 50px 0 20px 0;
}
.sec-5-part-2 p{
  padding: 20px 0 50px 0;
  color: black;
  font-size: 25px;
  width: 65%;
  margin: 0 auto;
}
.sec-5-part-2 button{
  background-color: #ffc200;
  border: none;
  padding: 12px 45px;
  font-size: 15px;
  border-radius: 5px;
}
/* .sec-three-po{
  left: -200px;
} */
  /* -----------------------------------------------sec 6----------------------------- */
  .sec-6{
    background-image: url(./Images/sec-6-mai\ image.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    box-sizing: border-box;
    background-size: cover;
  }
.sec-6 p{
  padding-top: 50px;
}