* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(210, 0, 0); */
}
header {
  padding: 20px;
  /* background-color: rgba(110, 200, 113, 0); */
}
.row {
  display: flex;
}
nav ul {
  list-style: none;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  /* margin-left: 13px; */
  font-size: 25px;
}
.jsc {
  justify-content: space-between;
}
.alc {
  align-items: center;
}
.search-img {
  padding-left: 25px;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
/* -----------------------------------------------sec 1----------------------------- */
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.sec-1-p1 {
  background-image: url(./Images/sec-1-fooditeams-image.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.sec-1-p2 {
  background-color: gray;
}
/* -----------------------------------------------sec 2----------------------------- */
.sec-2 {
    background-color: white;
}
.sec-2 h2 {
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin-top: 100px;
}

#sec-2-heading-p {
    width: 55%;
    font-size: 25px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: center;
}
.col-33 {
    width: 33%;
    margin: 0 auto;
    justify-content: space-between;
}
.sec-2-parts {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 35px;
}
.sec-2-parts h5 {
    font-size: 30px;
    margin: 0 auto;
}
.sec-2-parts p {
    margin: 0 auto;
    font-size: 15px;
    width: 50%;
}

/* -----------------------------------------------sec 2----------------------------- */
.sec-3{
    position: relative;
}
.col-50{
    width: 50%;
}
.sec-3-part-1{
    padding-top: 100px;
}
.sec-3-part-2{
    padding-top: 100px;
}
.sec-3-part-2 {
    padding-top: 100px;
}