*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
.cont-us-logo {
    width: 30px;
}
.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header{
    
    margin: 0 10px;
    padding: 30px;
}
.d-flex{
    display: flex;
}
.red-toyatalogo{
    margin-right: 20px;
}
nav ul{

    display: inline-block;
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0 20px 0 5px;
}
/* -------------------------------------------------------------------section1---------------------------- */
.sec-1-image img{
    width: 100%;
}
/* -------------------------------------------------------------------section2---------------------------- */
.sec2_box {
    text-align: center;
    border-right: 1px solid black;
    padding: 20px 82px;
    justify-content: space-around;
}
.sec2_box-lastbox {
    text-align: center;
    padding: 20px 82px;
}
.sec-2-image img{
    width: 100%;
}
    /* -------------------------------------------------------------------section3---------------------------- */
.sec-3-sec-heading{
    text-align: center;
    padding: 20px;
    font-size: large;
}
.sec-3-car-option img{
    width: 200px;
}
.sec-3-options{
    text-align: center;
    padding: 5px 30px;
}