*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.universal_pading{
    padding: 15px;
}
.top-black-heading{
    background-color: black;
    color: white;
    padding: 15px;
    justify-content: space-between;
}
.top-black-heading p{
    font-size: 20px;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.hea-logo-div {
    width: 200px;
}
.sec-1{
    background-color: #f6f0e6;
}
.row{
    display: flex;
}
