*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.universal_pading{
    padding: 20px;
}
.top-black-heading{
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-between;
}
.top-black-heading p{
    font-size: 17px;
    padding-left: 15px;
    padding-right: 20px;
}
.jsc{
    justify-content: space-between;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.hea-logo-div {
    width: 250px;
}
.sec-1{
    background-color: #ccc1af;
}
.row{
    display: flex;
}
nav li{
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
    
}
.alc{
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
}
.tac{
    text-align: center;
}
.pos-abs{
    position: absolute;
    /* overflow: hidden; */
}
.pos-rel{
    position: relative;
    /* overflow: hidden; */
}
header{
    padding: 20px;
}
.header-icon-div i{
    padding-right: 37px;
}
.col-50{
    width: 50%;
}
.sec-1-part1{
   margin-top: 30px; 
}
.sec-1-part1 h1{
    font-size: 80px;
    width: 100%;
}
.sec-1-part1 p{
   font-size: 21px;
   width: 100%;
   padding: 15px 0;
}
.sec-1-part1-1ptag{
    letter-spacing: 4px;
    color: brown;
}
.sec-1-part2 {
    padding-left: 20px;
    overflow: hidden;
}
.sec-1-part2 img{
    width: 90%;
    padding: 15px;
    /* position: absolute; */
}
.sec-1-part1 span{
    color: brown;
}
.sec-1-part1 button{
    padding: 15px 45px;
    background-color: brown;
    color: white;
    font-size: 17px;
    margin-top: 10px;
}
.header-lamp{
    left: 300px;
    top: 0px;
}
.broun-div-sec-1{
    height: 670px;
    width: 450px;
    background-color: #f6f0e6;
    position: absolute;
    right: 20px;
    top: 140px;
    border-radius: 400px 0 0 0 ;
    overflow: hidden;
}
.header-lamp img{
    width: 150px;
}



.sec_2{
    background-color: #f6f0e6;
}
.sec_2_div_1{
    background-color: #313131;
    color: white;
    border-radius:0 500px 0 0;
}
.sec_2_text_1 span{
    background-color: #313131;
    font-family: sans-serif ;
    padding: 10px 0 0;
}
.sec_2_text_1 button{
    display: block;
    background-color: #9e6747;
    font-family: sans-serif ;
    padding: 10px 30px;
    border: none;
    color: white;
    margin: 30px 0 0;
}
.sec_2_text_1{
    padding: 50px 0 0 50px ;
    
}
.sec_2_div_2{
    margin: 50px 0 0 50px;
}
.sec_2_div_2 h4{
    font-size: 50px;
}
.sec_2_div_2 p{
    width: 70%;
}
.sec_2_cart {
    border-right: 2px  solid;
}
.sec_2_lamp img{
    width: 80%;
}
.sec_2_lamp{
    bottom: 40px;
    left:600px;
}