*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 header{
    width: 97%;
     background-color: black;
     border-radius: 40px;
     color: white;
     
 }
 body{
    background-color: #FF9933;
 }
 .white-text{
    color: white;
 }
 header a{
    color: white;   
 }
 .hero-section {
    height: 90vh;
}
.card-colour{
   background-color: #dcb997;
}
.dropdown-col{
   background-color: #dcb997;
}
